body {
  background-color: #1862af;
  background-image: url("images/bg.png");
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
p {
  font-family: 'Libre Baskerville', serif;
}
a {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  text-align: center;
  color: #221f1f;
}
h1 {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  block-size: 150px;
  writing-mode: vertical-rl;
  background-color: white;
}
li {
  float: left;
  padding: 70px;
}
li a {
  display: block;
}
li a:hover {
  background-image: url("images/rainbow.png");
  color: white;
}
blockquote {
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;
}
.active {
  background-image: url("images/rainbow.png");
  color: white;
}
.shadow {
  box-shadow: 10px 10px grey;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}
#albumimg {
  text-align: center;
}
#main {
  position: relative;
  padding: 150px 0;
}
#main2 {
  position: relative;
  width: 100%
}
#left {
  position: absolute;
  top: 100px;
  left: 170px;
}
#right {
  position: absolute;
  top: 100px;
  right: 170px;
}
#link:hover {
  opacity: 0;
}
.border {
  position: relative;
  width: 826px;
  height: 100px;
}
.navbar {
  position: fixed;
  background-color: white;
  width: 150px;
  height: 571px;
  top: 200px;
  right: 100px;
}
.rainbow {
  position: absolute;
  background-image: url("images/rainbow2.png");
  height: 700px;
  width: 1237px;
  top: 200px;
}
.text {
  position: relative;
  width: 960px;
  height: auto;
}
.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}
.covers {
  position: relative;
  margin: auto;
  width: 1200px;
  height: 550px;
}
.logo {
  height: 200px;
  width: 200px;
}
.shadow {
  border: 8.5px solid #221f1f;
  box-shadow: 15px 15px #6d6d6d;
}
.outline {
  border: 8.5px solid #221f1f;
}
.button {
  height: 67px;
  width: 256px;
}
.button:hover {
  content: url("images/button2.png");
  height: 67px;
  width: 256px;
}
.buttondiv {
  text-align: center;
  position: relative;
  margin: auto;
  width:50%;
}
.text {
  position: relative;
  margin: auto;
  text-align: justify;
  width: 400px;
  padding: 50px;
  background-color: white;
}
